.background {
    background-image: url('../../public/images/image1.jpg');/* החלף בכתובת התמונה שלך */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }